{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'season31/style.css' %}" />

<table class="noborder"><tr>

	<td class="menu noborder texttop">
		{% include "season31/menu.html" %}
	</td>
	<td class="content noborder texttop textleft">

		<div class="floatright pad0 textright">
			<img src="{% static 'season31/images/photos/'%}{{ castaway.name }}.jpg" title="{{ castaway.name }}" class="border{% if castaway.out_episode_number > 0 %} outimg{% endif %}" />
			{% if castaway.place > 0 %}
			<div>{{ castaway.place }}{% if castaway.place == 1 %}st{% elif castaway.place == 2 %}nd{% elif castaway.place == 3 %}rd{% else %}th{% endif %} Place</div>
			{% endif %}
		</div>
		<div>
			<div class="title">{{castaway.name}}</div>
			<div class="font18 textbold">{{ castaway.full_name }}</div>
			<div>{{ castaway.occupation }}, Age {{ castaway.age }}</div>
		</div>



		<div class="spacer"></div>

		<table>
			<tr>
				<td class="bgblack"></td>
				<td class="bgblack fgwhite">Tribe</td>
				<td class="bgblack"></td>
				<td class="bgblack fgwhite">Actions</td>
				<td class="bgblack"></td>
				<td class="bgblack fgwhite">Voted For</td>
				<td class="bgblack"></td>
				<td class="bgblack fgwhite">Score</td>
			</tr>
			{% for castawayepisode in castaway.castawayepisode_set.all %}
			<tr>
				<td class="bgblack fgwhite"><a href="{% url 'season31:episode' castawayepisode.episode.id %}" class="fgwhite">{{ castawayepisode.episode }}</a></td>
				<td class="bgtribe{{ castawayepisode.tribe.color }}">{{ castawayepisode.tribe }}</td>
				<td class="bgblack"></td>
				<td>
				{% for action in castawayepisode.actions.all %}
					<img src="{% static 'season31/images/icons/'%}{{ action.icon_filename }}.png" title="{{ action.name }}
		{{ action.score }} Point(s)
		{{ action.description }}" />
				{% endfor %}
				</td>
				<td class="bgblack"></td>
				{% if castawayepisode.vote_set.all %}
				<td class="bgtribe{{ castawayepisode.tribe.color }}"><a href="{% url 'season31:castaway' castawayepisode.vote_set.all.0.castaway.id %}">{{ castawayepisode.vote_set.all.0.castaway }}</a></td>
				{% else %}
				<td>-</td>
				{% endif %}
				<td class="bgblack"></td>
				<td>{{ castawayepisode.score }}</td>
			</tr>
			{% endfor %}
		</table>

	</td>
	{% if user.is_superuser  %}
	<td class="bgadmin noborder texttop">
	
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:updatecastawayname' castaway.id %}" method="post">
				{% csrf_token %}
				<input type="text" name="name" value="{{ castaway.name }}" />
				<input type="submit" value="Update Name" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:updatecastawayplace' castaway.id %}" method="post">
				{% csrf_token %}
				<input type="number" name="place" id="place" min="0" max="20" value="{{ castaway.place }}" />
				<input type="submit" value="Update Place" />
			</form>
		</div>

	</td>
	{% endif %}
	
</tr></table>