{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'season31/style.css' %}" />

<table class="noborder"><tr>

	<td class="menu noborder texttop">
		{% include "season31/menu.html" %}
	</td>
	<td class="content noborder texttop textleft">

		<div class="textitalic">
			{% for ep in episodes %}
			{% if ep == episode %}
			<span class="textbold fgdarkgrey">{{ ep.short }}</span>
			{% else %}
			<a href="{% url 'season31:episode' ep.id %}" class="fggrey">{{ ep.short }}</a>
			{% endif %}
			{% endfor %}
		</div>
		<div class="title">"{{ episode.title }}"</div>
		<div class="subtitle">{{ episode.air_day}}, {{ episode.air_date}} ET</div>

		<div class="spacer"></div>

		<!-- Castaway Table -->

		<table>
			<tr>
				<td class="bgblack fgwhite textright"><a href="{% url 'season31:castaways' %}" class="fgwhite">Castaways</a></td>
				<td class="bgblack fglightgrey">Tribes</td>
				<td class="bgblack"></td>
				<td class="bgblack fgwhite"><a href="{% url 'season31:actions' %}" class="fgwhite">Actions</a></td>
				<td class="bgblack"></td>
				<td class="bgblack fglightgrey">Voted For</td>
				<td class="bgblack"></td>
				<td class="bgblack fglightgrey">Score</td>
			</tr>
			{% for castawayepisode in episode.castawayepisode_set.all %}
			<tr>
				<td class="bgblack fgwhite textright"><a href="{% url 'season31:castaway' castawayepisode.castaway.id %}" class="fgwhite{% if castawayepisode.out_this_episode %} textstrike{% endif %}">{{ castawayepisode.castaway }}</a></td>
				<td class="bgtribe{{ castawayepisode.tribe.color }}{% if castawayepisode.out_this_episode %} out{% endif %}">{{ castawayepisode.tribe }}</td>
				<td class="bgblack"></td>
				<td>
				{% for action in castawayepisode.actions.all %}
					<img src="{% static 'season31/images/icons/'%}{{ action.icon_filename }}.png" title="{{ action.name }}:
{{ action.score }} Point(s)
{{ action.description }}" />
				{% endfor %}
				</td>
				<td class="bgblack"></td>
				{% if castawayepisode.vote_set.all %}
				<td class="bgtribe{{ castawayepisode.tribe.color }}"><a href="{% url 'season31:castaway' castawayepisode.vote_set.all.0.castaway.id %}">{{ castawayepisode.vote_set.all.0.castaway }}</a></td>
				{% else %}
				<td>-</td>
				{% endif %}
				<td class="bgblack"></td>
				<td>{{ castawayepisode.score }}</td>
			</tr>
			{% endfor %}
		</table>

		<div class="spacer"></div>
	
	<!-- Uncomment to make tables side by side instead of top and bottom
	</td>
	<td class="content noborder texttop textleft">
	-->

		<!-- Player Table -->
		<table>
			<tr>
				<td class="bgblack fgwhite textright"><a href="{% url 'season31:players' %}" class="fgwhite">Players</a></td>
				<td class="bgblack fglightgrey">Team Members</td>
				<td class="bgblack"></td>
				<td class="bgblack fglightgrey">Vote Off Picks</td>
				<td class="bgblack"></td>
				<td class="bgblack fglightgrey">LB</td>
				<td class="bgblack"></td>
				<td class="bgblack fglightgrey">Action</td>
				<td class="bgblack fglightgrey">Vote</td>
				<td class="bgblack fglightgrey">JSP</td>
				<td class="bgblack"></td>
				<td class="bgblack fglightgrey">Week</td>
				<td class="bgblack"></td>
				<td class="bgblack fglightgrey">Total</td>
			</tr>
			{% if not episode.is_locked %}
			<tr>
				<td colspan=14>Picks will be revealed in {{ episode.time_to_lock }}</td>
			</tr>
			{% else %}
			{% for playerepisode in episode.get_playerepisodes %}
			<tr>
				<td class="bgblack fgwhite textright"><a href="{% url 'season31:player' playerepisode.player.id %}" class="fgwhite">{{ playerepisode.player }}</a></td>

				<td class="bgblack">
					{% for pick in playerepisode.get_team_picks %}
					<div class="{% if pick.out_this_episode %}out{% else %}bgtribe{{ pick.castaway_episode.tribe.color }}{% endif %} pick">
						<a href="{% url 'season31:castaway' pick.castaway.id %}">{{ pick.castaway.name }}
						</a>
					</div>
				{% endfor %}
				</td>

				<td class="bgblack"></td>

				<td class="bgblack">
					{% for pick in playerepisode.get_vote_picks %}
					<div class="{% if pick.out_this_episode %}out{% else %}bgtribe{{ pick.castaway_episode.tribe.color }}{% endif %} pick">
						<a href="{% url 'season31:castaway' pick.castaway.id %}">{{ pick.castaway.name }}
						</a>
					</div>
				{% endfor %}
				</td>

				<td class="bgblack"></td>
				<td>{{ playerepisode.loyalty_bonus }}</td>
				<td class="bgblack"></td>
				<td>{{ playerepisode.action_score }}</td>
				<td>{{ playerepisode.vote_off_score }}</td>
				<td>{{ playerepisode.jsp_score }}</td>
				<td class="bgblack"></td>
				<td>{{ playerepisode.week_score }}</td>
				<td class="bgblack"></td>
				<td>{{ playerepisode.total_score }}</td>
			</tr>
			{% endfor %}
			{% endif %}
		</table>

	</td>
	{% if user.is_superuser  %}
	<td class="bgadmin noborder texttop">
		<div class="bgdelete pad4 marg4">
			<form action="{% url 'season31:deleteepisode' episode.id %}" method="post">
				{% csrf_token %}
				<input type="checkbox" name="check1" id="check1" />
				<input type="submit" class="width60" value="Delete This Episode" />
				<input type="checkbox" name="check2" id="check2" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:updateepisodetitle' episode.id %}" method="post">
				{% csrf_token %}
				<input type="text" class="width50 textcenter" name="title" />
				<input type="submit" class="width40" value="Update Episode Title" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:updateepisodedatetime' episode.id %}" method="post">
				{% csrf_token %}
				<input type="text" class="width40 textcenter" name="airdatetime" value="YYYYmmdd HH"/>
				<input type="submit" class="width50" value="Update Air Date / Time" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:updateepisodeteamsize' episode.id %}" method="post">
				{% csrf_token %}
				<input type="number" class="width30 textcenter" name="teamsize" id="teamsize" min="2" max="10" value="{{ episode.team_size }}" />
				<input type="submit" class="width60" value="Update Team Size" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:updateepisodescore' episode.id %}" method="post">
				{% csrf_token %}
				<input type="submit" class="width100" value="Update Episode Score" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:togglescorejsps' episode.id %}" method="post">
				{% csrf_token %}
				<input type="submit" class="width100" value="JSPs {% if not episode.score_jsps %}NOT {% endif %}Scoring" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:tallyepisodejsps' episode.id %}" method="post">
				{% csrf_token %}
				<input type="submit" class="width100" value="Tally Episode JSPs" />
			</form>
		</div>
		{% if episode.is_locked %}
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:unlockepisode' episode.id %}" method="post">
				{% csrf_token %}
				<input type="submit" class="width100" value="Unlock Episode" />
			</form>
		</div>
		<table class="marg4">
			<tr>
				<td class="bgblack fgwhite textleft">Actions</td>
				<td class="bgblack fgwhite textleft">Votes</td>
				<td class="bgblack fgwhite textleft">Tribes</td>
			</tr>
			<tr>
				<td class="bgwhite textleft">
					<form action="{% url 'season31:updateceactions' episode.id %}" method="post">
						{% csrf_token %}
						<div class="fglightgrey">
							<input type="checkbox" name="delete" id="delete" />
							<label for="delete">Delete:</label>
						</div>
						<div class="pad0">
							<select name="action">
								{% for action in actions %}
								<option value="{{ action.id }}">{{ action.name }}</option>
								{% endfor %}
							</select>
						</div>
						{% for castawayepisode in episode.castawayepisode_set.all %}
						<div class="pad0 fgtribe{{ castawayepisode.tribe.color }}">
							<input type="checkbox" name="castaways" id="{{ castawayepisode.id }}" value="{{ castawayepisode.id }}" />
							<label for="{{ castawayepisode.id }}">{{ castawayepisode.castaway }}</label>
						</div>
						{% endfor %}
						<input type="submit" value="Update Actions" />
					</form>
				</td>
				<td class="bgwhite textleft">
					<form action="{% url 'season31:updatecevotes' episode.id %}" method="post">
						{% csrf_token %}
						Votee:
						<div class="pad0">
							<select name="votee">
								{% for castawayepisode in episode.castawayepisode_set.all %}
								<option value="{{ castawayepisode.castaway.id }}">{{ castawayepisode.castaway }}</option>
								{% endfor %}
							</select>
						</div>
						{% for castawayepisode in episode.castawayepisode_set.all %}
						<div class="pad0 fgtribe{{ castawayepisode.tribe.color }}">
							<input type="checkbox" name="voters" id="{{ castawayepisode.id }}" value="{{ castawayepisode.id }}" />
							<label for="{{ castawayepisode.id }}">{{ castawayepisode.castaway }}</label>
						</div>
						{% endfor %}
						<div>
							<input type="submit" value="Update Votes" />
						</div>
					</form>
				</td>
				<td class="bgwhite textleft">
					<form action="{% url 'season31:updatecetribes' episode.id %}" method="post">
						{% csrf_token %}
						New Tribe:
						<div class="pad0">
							<select name="tribe">
								{% for tribe in tribes %}
								<option value="{{ tribe.id }}">{{ tribe }}</option>
								{% endfor %}
							</select>
						</div>
						{% for castawayepisode in episode.castawayepisode_set.all %}
						<div class="pad0 fgtribe{{ castawayepisode.tribe.color }}">
							<input type="checkbox" name="castaways" id="{{ castawayepisode.id }}" value="{{ castawayepisode.id }}" />
							<label for="{{ castawayepisode.id }}">{{ castawayepisode.castaway }}</label>
						</div>
						{% endfor %}
						<div>
							<input type="submit" value="Update Tribes" />
						</div>
					</form>
				</td>
			</tr>
			{% endif %}
		</table>
		{% endif %}
		
	</td>
	
</tr></table>

