{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'season31/style.css' %}" />

<table class="noborder"><tr>

	<td class="menu noborder texttop">
		{% include "season31/menu.html" %}
	</td>
	<td class="content noborder texttop textleft">

		<div class="textitalic">
			{% for se in simpleepisodes %}
			{% if se.number == simpleepisode.number %}
			<span class="textbold fgdarkgrey">{{ se.short }}</span>
			{% else %}
			<a href="{% url 'season31:episode' se.id %}" class="fggrey">{{ se.short }}</a>
			{% endif %}
			{% endfor %}
		</div>
		<div class="title">"{{ simpleepisode.title }}"</div>
		<div class="subtitle">{{ simpleepisode.air_day}}, {{ simpleepisode.air_date}} ET</div>

		<div class="spacer"></div>

		<!-- Castaway Table -->

		<div class="bgdarkgrey rounded pad2 datashow">
			<div class="textleft fglightgrey font24 pad4 rounded marg1">Castaway Actions</div>
			<table class="textcenter">
				<tr>
					<td class="bgblack padlr2"></td>
					<td class="bgblack padlr2"><a href="{% url 'season31:actions' %}" class="fgwhite">Actions</a></td>
					<td class="bgblack padlr2 datahide fglightgrey">Tribe</td>
					<td class="bgblack padlr2 datahide fglightgrey">Votee</td>
					<td class="bgblack padlr2 fglightgrey">Pts.</td>
				</tr>
				{% for sce in simplecastawayepisodes %}
				<tr>
					<td class="bgblack padlr2 textright"><a href="{% url 'season31:castaway' sce.castawayid %}" class="fg{{ sce.color }}">{{ sce.castawayname }}</a></td>
					<td class="bgblack padlr2">
					{% for sa in sce.actions %}
						<img src="{% static 'season31/images/icons/'%}{{ sa.icon_filename }}.png" title="{{ sa.name }}:
{{ sa.score }} Point(s)
{{ sa.description }}" />
					{% endfor %}
					</td>
					<td class="bgblack padlr2 datahide bg{{ sce.color }}">{{ sce.tribe }}</td>
					{% if sce.vote %}
					<td class="bgblack padlr2 datahide bg{{ sce.vote.color }}"><a href="{% url 'season31:castaway' sce.vote.id %}">{{ sce.vote.name }}</a></td>
					{% else %}
					<td class="bgblack padlr2 datahide">-</td>
					{% endif %}
					<td class="bgwhite padlr2">{{ sce.score }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>

		<div class="spacer"></div>
	
	<!-- Uncomment to make tables side by side instead of top and bottom
	</td>
	<td class="content noborder texttop textleft">
	-->

		{% if user.player.show_help_text %}
			<div class="pad4 textright">
				Mouseover column headers for their full names.
			</div>
		{% endif %}
		<!-- Player Table -->
		<div class="bgdarkgrey rounded pad2">
			<div class="textleft fglightgrey font24 pad4 rounded marg1">Player Points</div>
			<table class="textcenter">
				<tr>
					<td class="bgblack parlr2"></td>
					<td class="bgblack padlr2 fggreen4">Team Members</td>
					<td class="bgblack padlr2 fgred4">Vote Off Picks</td>
					<td class="bgblack padlr2 fglightgrey" title="Loyalty Bonus Points">LB</td>
					<td class="bgblack padlr2 fggreen4" title="Team Action Points">TA</td>
					<td class="bgblack padlr2 fgred4" title="Vote-Off Prediction Points">VO</td>
					<td class="bgblack parlr2 fglightgrey" title="Jury Survivor Points">JSP</td>
					<td class="bgblack parlr2 fglightgrey textbold" title="This Episode's Score">Week</td>
					<td class="bgblack parlr2 fglightgrey textbold" title="Total Score Score">Total</td>
				</tr>
				{% if not simpleepisode.is_locked %}
				<tr>
					<td colspan=14>Picks will be revealed in {{ episode.time_to_lock }}</td>
				</tr>
				{% else %}
				{% for spe in simpleplayerepisodes %}
				<tr>
					<td class="bgblack padlr2 textright">
						{% if spe.vote_off_score > 0 %}
							<img src="{% static 'season31/images/icons/'%}CorrectVote.png" class="actionsmall marglr4" title="Correctly Predicted Vote" />
						{% endif %}
						<a href="{% url 'season31:player' spe.playerid %}" class="fgwhite">{{ spe.playername }}</a>
					</td>

					<td class="bgblack padlr4">
						<table class="tablecenter noborder"><tr>
							{% for sp in spe.tpicks %}
							<td class="noborder padlr8 padtb2 marg0 bg{{sp.color}}">
								<a href="{% url 'season31:castaway' sp.id %}" class="fgblack">{{ sp.name }}</a>
							</td>
							{% endfor %}
						</tr></table>
					</td>
					<td class="bgblack padlr4">
						<table class="tablecenter noborder"><tr>
							{% for sp in spe.vpicks %}
							<td class="noborder padlr8 padtb2 marg0 bg{{sp.color}}">
								<a href="{% url 'season31:castaway' sp.id %}">{{ sp.name }}</a>
							</td>
							{% endfor %}
						</tr></table>
					</td>
					<td class="bglightgrey padlr2">{{ spe.loyalty_bonus }}</td>
					<td class="bglightgrey padlr2">{{ spe.action_score }}</td>
					<td class="bglightgrey padlr2">{{ spe.vote_off_score }}</td>
					<td class="bglightgrey padlr2">{{ spe.jsp_score }}</td>
					<td class="bgwhite padlr2 textbold">{{ spe.week_score }}</td>
					<td class="bgwhite padlr2 textbold">{{ spe.total_score }}</td>
				</tr>
				{% endfor %}
				{% endif %}
			</table>
		</div>

	</td>
	{% if user.is_superuser  %}
	<td class="bgadmin noborder texttop">
		<div class="bgdelete pad4 marg4">
			<form action="{% url 'season31:deleteepisode' simpleepisode.id %}" method="post">
				{% csrf_token %}
				<input type="checkbox" name="check1" id="check1" />
				<input type="submit" class="width60" value="Delete This Episode" />
				<input type="checkbox" name="check2" id="check2" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:updateepisodetitle' simpleepisode.id %}" method="post">
				{% csrf_token %}
				<input type="text" class="width50 textcenter" name="title" />
				<input type="submit" class="width40" value="Update Episode Title" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:updateepisodedatetime' simpleepisode.id %}" method="post">
				{% csrf_token %}
				<input type="text" class="width40 textcenter" name="airdatetime" value="YYYYmmdd HH"/>
				<input type="submit" class="width50" value="Update Air Date / Time" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:updateepisodeteamsize' simpleepisode.id %}" method="post">
				{% csrf_token %}
				<input type="number" class="width30 textcenter" name="teamsize" id="teamsize" min="2" max="10" value="{{ simpleepisode.team_size }}" />
				<input type="submit" class="width60" value="Update Team Size" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:rolloverepisodeteams' simpleepisode.id %}" method="post">
				{% csrf_token %}
				<input type="submit" class="width100" value="Rollover Episode Teams" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:updateepisodescore' simpleepisode.id %}" method="post">
				{% csrf_token %}
				<input type="submit" class="width100" value="Update Episode Score" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:togglescorejsps' simpleepisode.id %}" method="post">
				{% csrf_token %}
				<input type="submit" class="width100" value="JSPs {% if not simpleepisode.score_jsps %}NOT {% endif %}Scoring" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:tallyepisodejsps' simpleepisode.id %}" method="post">
				{% csrf_token %}
				<input type="submit" class="width100" value="Tally Episode JSPs" />
			</form>
		</div>
		{% if simpleepisode.is_locked %}
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:unlockepisode' simpleepisode.id %}" method="post">
				{% csrf_token %}
				<input type="submit" class="width100" value="Unlock Episode" />
			</form>
		</div>
		<table class="marg4">
			<tr>
				<td class="bgdarkgrey fgwhite textleft">Actions</td>
				<td class="bgdarkgrey fgwhite textleft">Votes</td>
				<td class="bgdarkgrey fgwhite textleft">Tribes</td>
			</tr>
			<tr>
				<td class="bgwhite textleft">
					<form action="{% url 'season31:updateceactions' simpleepisode.id %}" method="post">
						{% csrf_token %}
						<div class="fggrey">
							<input type="checkbox" name="delete" id="delete" />
							<label for="delete">Delete:</label>
						</div>
						<div class="pad0">
							<select name="action">
								{% for sa in simpleactions %}
								<option value="{{ sa.id }}">{{ sa.name }}</option>
								{% endfor %}
							</select>
						</div>
						{% for sce in simplecastawayepisodes %}
						<div class="pad0 fg{{ sce.color }}">
							<input type="checkbox" name="castaways" id="{{ sce.id }}" value="{{ sce.id }}" />
							<label for="{{ sce.id }}">{{ sce.castawayname }}</label>
						</div>
						{% endfor %}
						<input type="submit" value="Update Actions" />
					</form>
				</td>
				<td class="bgwhite textleft">
					<form action="{% url 'season31:updatecevotes' simpleepisode.id %}" method="post">
						{% csrf_token %}
						Votee:
						<div class="pad0">
							<select name="votee">
								{% for sce in simplecastawayepisodes %}
								<option value="{{ sce.castawayid }}">{{ sce.castawayname }}</option>
								{% endfor %}
							</select>
						</div>
						{% for sce in simplecastawayepisodes %}
						<div class="pad0 fg{{ sce.color }}">
							<input type="checkbox" name="voters" id="{{ sce.id }}" value="{{ sce.id }}" />
							<label for="{{ sce.id }}">{{ sce.castawayname }}</label>
						</div>
						{% endfor %}
						<div>
							<input type="submit" value="Update Votes" />
						</div>
					</form>
				</td>
				<td class="bgwhite textleft">
					<form action="{% url 'season31:updatecetribes' simpleepisode.id %}" method="post">
						{% csrf_token %}
						New Tribe:
						<div class="pad0">
							<select name="tribe">
								{% for st in simpletribes %}
								<option value="{{ st.id }}">{{ st.name }}</option>
								{% endfor %}
							</select>
						</div>
						{% for sce in simplecastawayepisodes %}
						<div class="pad0 fg{{ sce.color }}">
							<input type="checkbox" name="castaways" id="{{ sce.id }}" value="{{ sce.id }}" />
							<label for="{{ sce.id }}">{{ sce.castawayname }}</label>
						</div>
						{% endfor %}
						<div>
							<input type="submit" value="Update Tribes" />
						</div>
					</form>
				</td>
			</tr>
			{% endif %}
		</table>
		{% endif %}
		
	</td>
	
</tr></table>

