{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'season31/style.css' %}" />

<table class="noborder"><tr>

	<td class="menu noborder texttop">
		{% include "season31/menu.html" %}
	</td>
	<td class="content noborder texttop textleft">

		<div class="textitalic">
			{% for ep in episodes %}
			{% if ep == episode %}
			<span class="textbold fgdarkgrey">{{ ep.short }}</span>
			{% else %}
			<a href="{% url 'season31:episode' ep.id %}" class="fggrey">{{ ep.short }}</a>
			{% endif %}
			{% endfor %}
		</div>
		<div class="title">"{{ episode.title }}"</div>
		<div class="subtitle">{{ episode.air_day}}, {{ episode.air_date}} ET</div>

		<div class="spacer"></div>

		<!-- Castaway Table -->

		<table>
			<tr>
				<td class="bgblack fgwhite textright"><a href="{% url 'season31:castaways' %}" class="fgwhite">Castaway</a></td>
				<td class="bgblack fglightgrey">Tribe</td>
				<td class="bgblack"></td>
				<td class="bgblack fgwhite"><a href="{% url 'season31:actions' %}" class="fgwhite">Actions</a></td>
				<td class="bgblack"></td>
				<td class="bgblack fglightgrey">Votee</td>
				<td class="bgblack"></td>
				<td class="bgblack fglightgrey">Score</td>
			</tr>
			{% for sce in simplecastawayepisodes %}
			<tr>
				<td class="bgblack textright"><a href="{% url 'season31:castaway' sce.castawayid %}" class="fg{{ sce.color }}">{{ sce.castawayname }}</a></td>
				<td class="bg{{ sce.color }}">{{ sce.tribe }}</td>
				<td class="bgblack"></td>
				<td>
				{% for sa in sce.actions %}
					<img src="{% static 'season31/images/icons/'%}{{ sa.icon_filename }}.png" title="{{ sa.name }}:
{{ sa.score }} Point(s)
{{ sa.description }}" />
				{% endfor %}
				</td>
				<td class="bgblack"></td>
				{% if sce.vote %}
				<td class="bg{{ sce.vote.color }}"><a href="{% url 'season31:castaway' sce.vote.id %}">{{ sce.vote.name }}</a></td>
				{% else %}
				<td>-</td>
				{% endif %}
				<td class="bgblack"></td>
				<td>{{ sce.score }}</td>
			</tr>
			{% endfor %}
		</table>

		<div class="spacer"></div>
	
	<!-- Uncomment to make tables side by side instead of top and bottom
	</td>
	<td class="content noborder texttop textleft">
	-->

		<!-- Player Table -->
		<table>
			<tr>
				<td class="bgblack fgwhite textright"><a href="{% url 'season31:players' %}" class="fgwhite">Player</a></td>
				<td class="bgblack fglightgrey">Team Members</td>
				<td class="bgblack"></td>
				<td class="bgblack fglightgrey">Vote Off Picks</td>
				<td class="bgblack"></td>
				<td class="bgblack fglightgrey">LB</td>
				<td class="bgblack"></td>
				<td class="bgblack fglightgrey">Action</td>
				<td class="bgblack fglightgrey">Vote</td>
				<td class="bgblack fglightgrey">JSP</td>
				<td class="bgblack"></td>
				<td class="bgblack fglightgrey">Week</td>
				<td class="bgblack"></td>
				<td class="bgblack fglightgrey">Total</td>
			</tr>
			{% if not episode.is_locked %}
			<tr>
				<td colspan=14>Picks will be revealed in {{ episode.time_to_lock }}</td>
			</tr>
			{% else %}
			{% for spe in simpleplayerepisodes %}
			<tr>
				<td class="bgblack fgwhite textright"><a href="{% url 'season31:player' spe.playerid %}" class="fgwhite">{{ spe.playername }}</a></td>

				<td class="bgblack">
					{% if spe.tpicks|length == 0 and user.is_superuser %}
					<form action="{% url 'season31:playerrolloverteam' spe.playerepisodeid %}" method="post">
						{% csrf_token %}
						<div class="padtb2 padlr0">
							<input type="submit" value="Rollover Last Week's Picks" class="width100" />
						</div>
					</form>
					{% endif %}
					{% for sp in spe.tpicks %}
					<div class="bg{{sp.color}} pick">
						<a href="{% url 'season31:castaway' sp.id %}">{{ sp.name }}</a>
					</div>
					{% endfor %}
				</td>

				<td class="bgblack"></td>

				<td class="bgblack">
					{% for sp in spe.vpicks %}
					<div class="bg{{sp.color}} pick">
						<a href="{% url 'season31:castaway' sp.id %}">{{ sp.name }}</a>
					</div>
					{% endfor %}
				</td>

				<td class="bgblack"></td>
				<td>{{ spe.loyalty_bonus }}</td>
				<td class="bgblack"></td>
				<td>{{ spe.action_score }}</td>
				<td>{{ spe.vote_off_score }}</td>
				<td>{{ spe.jsp_score }}</td>
				<td class="bgblack"></td>
				<td>{{ spe.week_score }}</td>
				<td class="bgblack"></td>
				<td>{{ spe.total_score }}</td>
			</tr>
			{% endfor %}
			{% endif %}
		</table>

	</td>
	{% if user.is_superuser  %}
	<td class="bgadmin noborder texttop">
		<div class="bgdelete pad4 marg4">
			<form action="{% url 'season31:deleteepisode' episode.id %}" method="post">
				{% csrf_token %}
				<input type="checkbox" name="check1" id="check1" />
				<input type="submit" class="width60" value="Delete This Episode" />
				<input type="checkbox" name="check2" id="check2" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:updateepisodetitle' episode.id %}" method="post">
				{% csrf_token %}
				<input type="text" class="width50 textcenter" name="title" />
				<input type="submit" class="width40" value="Update Episode Title" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:updateepisodedatetime' episode.id %}" method="post">
				{% csrf_token %}
				<input type="text" class="width40 textcenter" name="airdatetime" value="YYYYmmdd HH"/>
				<input type="submit" class="width50" value="Update Air Date / Time" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:updateepisodeteamsize' episode.id %}" method="post">
				{% csrf_token %}
				<input type="number" class="width30 textcenter" name="teamsize" id="teamsize" min="2" max="10" value="{{ episode.team_size }}" />
				<input type="submit" class="width60" value="Update Team Size" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:rolloverepisodeteams' episode.id %}" method="post">
				{% csrf_token %}
				<input type="submit" class="width100" value="Rollover Episode Teams" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:updateepisodescore' episode.id %}" method="post">
				{% csrf_token %}
				<input type="submit" class="width100" value="Update Episode Score" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:togglescorejsps' episode.id %}" method="post">
				{% csrf_token %}
				<input type="submit" class="width100" value="JSPs {% if not episode.score_jsps %}NOT {% endif %}Scoring" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:tallyepisodejsps' episode.id %}" method="post">
				{% csrf_token %}
				<input type="submit" class="width100" value="Tally Episode JSPs" />
			</form>
		</div>
		{% if episode.is_locked %}
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:unlockepisode' episode.id %}" method="post">
				{% csrf_token %}
				<input type="submit" class="width100" value="Unlock Episode" />
			</form>
		</div>
		<table class="marg4">
			<tr>
				<td class="bgdarkgrey fgwhite textleft">Actions</td>
				<td class="bgdarkgrey fgwhite textleft">Votes</td>
				<td class="bgdarkgrey fgwhite textleft">Tribes</td>
			</tr>
			<tr>
				<td class="bgwhite textleft">
					<form action="{% url 'season31:updateceactions' episode.id %}" method="post">
						{% csrf_token %}
						<div class="fggrey">
							<input type="checkbox" name="delete" id="delete" />
							<label for="delete">Delete:</label>
						</div>
						<div class="pad0">
							<select name="action">
								{% for action in actions %}
								<option value="{{ action.id }}">{{ action.name }}</option>
								{% endfor %}
							</select>
						</div>
						{% for castawayepisode in episode.castawayepisode_set.all %}
						<div class="pad0 fg{{ castawayepisode.tribe.color }}">
							<input type="checkbox" name="castaways" id="{{ castawayepisode.id }}" value="{{ castawayepisode.id }}" />
							<label for="{{ castawayepisode.id }}">{{ castawayepisode.castaway }}</label>
						</div>
						{% endfor %}
						<input type="submit" value="Update Actions" />
					</form>
				</td>
				<td class="bgwhite textleft">
					<form action="{% url 'season31:updatecevotes' episode.id %}" method="post">
						{% csrf_token %}
						Votee:
						<div class="pad0">
							<select name="votee">
								{% for castawayepisode in episode.castawayepisode_set.all %}
								<option value="{{ castawayepisode.castaway.id }}">{{ castawayepisode.castaway }}</option>
								{% endfor %}
							</select>
						</div>
						{% for castawayepisode in episode.castawayepisode_set.all %}
						<div class="pad0 fg{{ castawayepisode.tribe.color }}">
							<input type="checkbox" name="voters" id="{{ castawayepisode.id }}" value="{{ castawayepisode.id }}" />
							<label for="{{ castawayepisode.id }}">{{ castawayepisode.castaway }}</label>
						</div>
						{% endfor %}
						<div>
							<input type="submit" value="Update Votes" />
						</div>
					</form>
				</td>
				<td class="bgwhite textleft">
					<form action="{% url 'season31:updatecetribes' episode.id %}" method="post">
						{% csrf_token %}
						New Tribe:
						<div class="pad0">
							<select name="tribe">
								{% for tribe in tribes %}
								<option value="{{ tribe.id }}">{{ tribe }}</option>
								{% endfor %}
							</select>
						</div>
						{% for castawayepisode in episode.castawayepisode_set.all %}
						<div class="pad0 fg{{ castawayepisode.tribe.color }}">
							<input type="checkbox" name="castaways" id="{{ castawayepisode.id }}" value="{{ castawayepisode.id }}" />
							<label for="{{ castawayepisode.id }}">{{ castawayepisode.castaway }}</label>
						</div>
						{% endfor %}
						<div>
							<input type="submit" value="Update Tribes" />
						</div>
					</form>
				</td>
			</tr>
			{% endif %}
		</table>
		{% endif %}
		
	</td>
	
</tr></table>

