{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'season31/style.css' %}" />

<div class="marg0 pad0 thecontainer">

	<div class="menu floatleft marg0">
		{% include "season31/menu.html" %}
	</div>
	<div class="content floatleft marg0">

		<div class="title textcenter">Fantasy Survior: The Website</div>
		<div class="subtitle textcenter">How to Use This Website</div>
		<div class="spacer"></div>
		
		<div class="font20 textcenter fgdarkred">Important Changes: Pick Lockdown</div>
		<div class="maxwidth720 padlr8 marg8 fgdarkred">	
			Since we've been growing recently, and have players outside our PST timezone joining up, we're implementing a lockdown system for picks and running the site on Eastern Standard Time (EST), since that's the timezone that the episode airs in.  This means that we will not allow picks on show night after 8:00 PM EST and <span class="textbold">5:00 PM PST</span>.
		</div>
		<div class="spacer"></div>

		<div class="halftitle textcenter">Overview</div>
		<div class="maxwidth720 padlr8 marg8">
			Welcome to our new Fantasy Survivor website.  Here you'll be able to manage your picks weekly and view scores and whatnot throughout the season.
		</div>
		<div class="spacer"></div>

		<div class="halftitle textcenter">Joining Up</div>
		<div class="maxwidth720 padlr8 marg8">
			To use the new website you'll have to <a href="{% url 'season31:register' %}" class="textbold fgblack">Register</a>.  I know no one really wants another username and password, but it will be worth it.  Registration means that we can make sure that you are really you when you make picks, and we can make sure that what you pick is valid so no one accidentally puts in wrong moves.  It also lets you view your own pick history.
		</div>
		<div class="spacer"></div>

		<div class="halftitle textcenter">How Do I Play?</div>
		<div class="maxwidth720 padlr8 marg8">
			The full rules can be found <a href="{% url 'season31:rules' %}" class="textbold fgblack">here on our Rules page</a>, but the brief overview is this.  Each week, between episodes, you'll log in and pick your team, and predict who you think is going home.  You'll score points if your team members do well in the following episode, your vote predictions come true, or as the season goes on if your team members last a long time.
		</div>
		<div class="spacer"></div>

		<div class="halftitle textcenter">Where Do I Find Everything?</div>
		<div class="maxwidth720 padlr8 marg8">
			The menu on your left is your guide to all the things.  Registration, Login, and Logout will always be at the top.  The biggest thing after that is always a direct link to your page (when logged in).  Your page is where you'll go to make your picks each week.  Also in the menu you'll find a list of all the Castaways, Episodes, Actions (for reference), and Players.  Each of those links to more detailed pages about those particular things.  You can view a Castaways action and tribe history, or a players pick history.  The most recent and upcoming episodes will also have direct links up there if you're logged in.
		</div>
		<div class="spacer"></div>

	</div>

</div>