{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'season31/style.css' %}" />

<div class="marg0 pad0 thecontainer">

	<div class="menu floatleft marg0">
		{% include "season31/menu.html" %}
	</div>
	<div class="content floatleft marg0">

		<div class="title textcenter">Survivor: Cambodia</div>
		<div class="subtitle textcenter">News and Links From Around the Web</div>

		<div class="spacer"></div>

		<div class="halftitle textcenter">Overview</div>
		<div class="maxwidth720 padlr8 marg8">
			Survivor: Cambodia (AKA Survivor: Second Chance) is made up of 20 Castaways, all former one-time Survivor players, no former winners.
		</div>
		<div class="spacer"></div>

		<div class="halftitle textcenter">Meet the Cast</div>
		<div class="textitalic textcenter">Who Are This Season's Castaways?</div>
		<div class="textcenter padlr8 marg8">
			<a href="http://www.cbs.com/shows/survivor/photos/1004625/meet-the-cast-of-survivor-cambodia-second-chance/" class="textbold fgblack">CBS.com: Meet the Cast - Photo Set</a>
		</div>
		<div class="marg8 textcenter">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/GoxsJ2rN-rU" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="spacer"></div>

		<div class="halftitle textcenter">Game Twists</div>
		<div class="textitalic textcenter">What's New This Season?</div>
		<div class="textitalic textcenter">Contains Minor Spoilers, mouse-over to read</div>
		<div class="maxwidth720 padlr8 marg8">
			<ul>
				<li class="spoiler">Instead of hiding Immunity Idols at camp, this season Immunity Idol Clues will be hidden at camp.  Idols will be hidden within the challenges, and Castaways with Clues need to be gutsy enough to snag the Idol during a challenge. <a href="http://www.ew.com/article/2015/08/24/survivor-cambodia-second-chance-immunity-idols-challenges" class="textbold fglightgrey">(Link)</a></li>
				<li class="spoiler">Immunity Idols will vary greatly in appearance, making it potentially hard to convince someone yours is real, and opening the door for fakes. <a href="http://www.ew.com/article/2015/08/24/survivor-cambodia-second-chance-immunity-idols-challenges" class="textbold fglightgrey">(Link)</a></li>
				<li class="spoiler">In addition to the 2 starting tribes (<span class="marg0 textbold">Bayon</span> and <span class="marg0 textbold">Ta Keo</span>), a third tribe (<span class="marg0 textbold">Angkor</span>)has been revealed.  At some point they'll re-shuffle people into 3 tribes. <a href="http://insidesurvivor.com/2015/08/survivor-second-chance-what-is-the-third-tribe/" class="textbold fglightgrey">(Link)</a></li>
			</ul>
		</div>
		<div class="spacer"></div>

		<div class="halftitle textcenter">Useful Websites</div>
		<div class="maxwidth720 padlr8 marg8">
			<ul>
				<li><a href="https://www.reddit.com/r/survivor" class="textbold fgblack">reddit.com/r/survivor</a> - Reddit's Survivor community.  Great place to discuss things or find out the latest news.</li>
				<li><a href="http://survivor.wikia.com/wiki/Survivor:_Second_Chance" class="textbold fgblack">survivor.wikia.com/wiki/Survivor:_Second_Chance</a> - The Survivor Wiki page for this season.  Great for finding in depth info about the Castaways and full descriptions, confessionals, and info about what's happened in the season so far.</li>
			</ul>
		</div>
		<div class="spacer"></div>

	</div>

</div>