{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'season31/style.css' %}" />

<table class="noborder"><tr>

	<td class="menu noborder texttop">
		{% include "season31/menu.html" %}
	</td>
	<td class="content noborder texttop textleft">

		<div class="font32"><span class="textbold">Leaderboard</span> <span class="fglightgrey">{{ latestepisode }}</span></div>
		
		{% if latestepisode %}
		
		<div class="halfspacer"></div>
		
		
		<div>
			<div class="margneg2">
				<div class="inline width192 bglightgrey rounded textright padlr4 padtb0">Top Castaway Score</div>
				<div class="inline width24 bgdarkgrey roundleft textright fggreen4 padlr4 padtb0 marglrneg3">{{ simpleepisodestats.topcastawayscore }}</div>
				<div class="inline width48 bgdarkgrey roundright textleft fggrey padlr4 padtb0 marglrneg3">Points</div>
				<div class="inline margneg2">
					{% for sp in simpleepisodestats.topcastawayscorers %}
					<div class="inline padlr4 padtb0 rounded bg{{ sp.color }}"><a href="{% url 'season31:castaway' sp.id %}">{{ sp.name }}</a></div>
					{% endfor %}
				</div>
			</div>
			<div class="margneg2">
				<div class="inline width192 bglightgrey rounded textright padlr4 padtb0">Most Picked for Teams</div>
				<div class="inline width24 bgdarkgrey roundleft textright fggreen4 padlr4 padtb0 marglrneg3">{{ simpleepisodestats.mostteamcastawaycount }}</div>
				<div class="inline width48 bgdarkgrey roundright textleft fggrey padlr4 padtb0 marglrneg3">Teams</div>
				<div class="inline margneg2">
					{% for sp in simpleepisodestats.mostteamcastaways %}
					<div class="inline padlr4 padtb0 rounded bg{{ sp.color }}"><a href="{% url 'season31:castaway' sp.id %}">{{ sp.name }}</a></div>
					{% endfor %}
				</div>
			</div>
			<div class="margneg2">
				<div class="inline width192 bglightgrey rounded textright padlr4 padtb0">Most Predicted Vote-Off</div>
				<div class="inline width24 bgdarkgrey roundleft textright fgred4 padlr4 padtb0 marglrneg3">{{ simpleepisodestats.mostvotecastawaycount }}</div>
				<div class="inline width48 bgdarkgrey roundright textleft fggrey padlr4 padtb0 marglrneg3">Picks</div>
				<div class="inline margneg2">
					{% for sp in simpleepisodestats.mostvotecastaways %}
					<div class="inline padlr4 padtb0 rounded bg{{ sp.color }}"><a href="{% url 'season31:castaway' sp.id %}">{{ sp.name }}</a></div>
					{% endfor %}
				</div>
			</div>
			<div class="margneg2">
				<div class="inline width192 bglightgrey rounded textright padlr4 padtb0">Top Player Score</div>
				<div class="inline width24 bgdarkgrey roundleft textright fggreen4 padlr4 padtb0 marglrneg3">{{ simpleepisodestats.topplayerscore }}</div>
				<div class="inline width48 bgdarkgrey roundright textleft fggrey padlr4 padtb0 marglrneg3">Points</div>
				<div class="inline margneg2">
					{% for sp in simpleepisodestats.topplayerscorers %}
					<div class="inline padlr4 padtb0 rounded bgblack"><a href="{% url 'season31:player' sp.id %}" class="fgwhite">{{ sp.name }}</a></div>
					{% endfor %}
				</div>
			</div>
			{% if simpleepisodestats.topplayermovement > 0 %}
			<div class="margneg2">
				<div class="inline width192 bglightgrey rounded textright padlr4 padtb0">Most Spots Climbed</div>
				<div class="inline width24 bgdarkgrey roundleft textright fggreen4 padlr4 padtb0 marglrneg3">+{{ simpleepisodestats.topplayermovement }}</div>
				<div class="inline width48 bgdarkgrey roundright textleft fggrey padlr4 padtb0 marglrneg3">Places</div>
				<div class="inline margneg2">
					{% for sp in simpleepisodestats.topplayermovers %}
					<div class="inline padlr4 padtb0 rounded bgblack"><a href="{% url 'season31:player' sp.id %}" class="fgwhite">{{ sp.name }}</a></div>
					{% endfor %}
				</div>
			</div>
			{% endif %}
			<div class="margneg2">
				<div class="inline width192 bglightgrey rounded textright padlr4 padtb0">Correct Vote Predictions</div>
				<div class="inline width24 bgdarkgrey roundleft textright fggreen4 padlr4 padtb0 marglrneg3">{{ simpleepisodestats.correctpredictions }}</div>
				<div class="inline width48 bgdarkgrey roundright textleft fggrey padlr4 padtb0 marglrneg3">Seers</div>
			</div>
		</div>
		
		{% endif %}
		
		<div class="halfspacer"></div>
		
		<div class="rounded pad8">
			<div class="pad0">
				<div class="inline pad0 marglrneg1">
					<div class="inline bgblack marglrneg3 padlr4 fglightgrey width24 textcenter roundleft">Plc</div>
					<div class="inline bglightblack marglrneg2 padlr4 fglightgrey width24 textcenter roundright">±</div>
					<div class="inline bgblack padlr4 fglightgrey width256 rounded">Player</div>
					<div class="inline bgblack marglrneg3 padlr4 fglightgrey width24 textcenter roundleft">Pts</div>
					<div class="inline bglightblack marglrneg2 padlr4 fglightgrey width24 textcenter roundright">Δ</div>
					<div class="inline bgblack width16 padlr4 fglightgrey textcenter textbold rounded">X</div>
				</div>
			</div>
			{% for spe in simpleplayerepisodes %}
			<div class="pad0">
				<div class="inline pad0 margneg1">
					<div class="inline bgblack fgwhite marglrneg3 padlr4 width24 textcenter roundleft">{{ spe.place }}</div>
					<div class="inline bglightblack marglrneg2 padlr4 width24 textcenter roundright{% if spe.movement > 0 %} fggreen5{% elif spe.movement < 0 %} fgred5{% endif%}">{% if spe.movement > 0 %}+{% endif %}{{ spe.movement }}</div>
					<div class="inline bgblack padlr4 width256 fgwhite rounded"><a href="{% url 'season31:player' spe.playerid %}" class="fgwhite">{{ spe.playername }}</a></div>
					<div class="inline bgblack fgwhite marglrneg3 padlr4 width24 textcenter roundleft">{{ spe.total_score }}</div>
					<div class="inline bglightblack marglrneg2 padlr4 width24 textcenter{% if spe.score_delta < 0 %} fgdelta{% else %} fglightblack{% endif %} roundright">{{ spe.score_delta }}</div>
					{% if spe.vote_off_score > 0 and latestepisode.is_locked%}<div class="inline width16 bgblack padlr4 textcenter fggreen5 rounded">X</div>{% endif %}
					{% if latestepisode.is_locked %}
					<div class="inline hidden">
						{% for sp in spe.tpicks %}
						<div class="inline padlr4 rounded bg{{sp.color}}">
							<a href="{% url 'season31:castaway' sp.id %}">{{ sp.name }}</a>
						</div>
						{% endfor %}
					</div>
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
	</td>
	{% if user.is_superuser  %}
	<td class="bgadmin noborder texttop">

		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:addepisode' %}" method="post">
				{% csrf_token %}
				<div>
					<input type="number" name="teamsize" id="teamsize" min="2" max="10" value="{{ latestepisode.team_size }}" />
					<label for="teamsize">Team Size</label>
				</div>
				<input type="submit" class="width100" value="Add Episode" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:backfillteams' %}" method="post">
				{% csrf_token %}
				<input type="submit" class="width100" value="Backfill Teams" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:tallyalljsps' %}" method="post">
				{% csrf_token %}
				<input type="submit" class="width100" value="Tally All JSPs" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:updatescores' %}" method="post">
				{% csrf_token %}
				<input type="submit" class="width100" value="Recalculate All Scores" />
			</form>
		</div>
	</td>
	{% endif %}
	
</tr></table>