{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'season31/style.css' %}" />

<table class="noborder"><tr>

	<td class="menu noborder texttop">
		{% include "season31/menu.html" %}
	</td>
	<td class="content noborder texttop textleft">

		<div class="font32"><span class="textbold">Leaderboard</span> <span class="fglightgrey">{{ latestepisode }}</span></div>
		
		{% if latestepisode %}
		
		<div class="halfspacer"></div>
		
		
		<table class="whiteborder">
			<tr>
				<td class="whiteborder bgblack fglightgrey textright padlr4">Top Castaway Score</td>
				<td class="whiteborder bgblack fggreen5 padlr4">{{ simpleepisodestats.topcastawayscore }}</td>
				<td class="whiteborder textleft">
					{% for sp in simpleepisodestats.topcastawayscorers %}
					<div class="floatleft padlr4 marglr1 bg{{ sp.color }}"><a href="{% url 'season31:castaway' sp.id %}">{{ sp.name }}</a></div>
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td class="whiteborder bgblack fglightgrey textright padlr4">Top Player Score</td>
				<td class="whiteborder bgblack fggreen5 padlr4">{{ simpleepisodestats.topplayerscore }}</td>
				<td class="whiteborder textleft">
					{% for sp in simpleepisodestats.topplayerscorers %}
					<div class="floatleft padlr4 marglr1 bglightgrey"><a href="{% url 'season31:player' sp.id %}">{{ sp.name }}</a></div>
					{% endfor %}
				</td>
			</tr>
			{% if simpleepisodestats.topplayermovement > 0 %}
			<tr>
				<td class="whiteborder bgblack fglightgrey textright padlr4">Most Spots Climbed</td>
				<td class="whiteborder bgblack fggreen5 padlr4">+{{ simpleepisodestats.topplayermovement }}</td>
				<td class="whiteborder textleft">
					{% for sp in simpleepisodestats.topplayermovers %}
					<div class="floatleft padlr4 marglr1 bglightgrey"><a href="{% url 'season31:player' sp.id %}">{{ sp.name }}</a></div>
					{% endfor %}
				</td>
			</tr>
			{% endif %}
			<tr>
				<td class="whiteborder bgblack fglightgrey textright padlr4">Correct Predictors</td>
				<td class="whiteborder bgblack fggreen5 padlr4">{{ simpleepisodestats.correctpredictions }}</td>
			</tr>
		</table>
		
		{% endif %}
		
		<div class="halfspacer"></div>
		
		<table class="noborder">
			<tr>
				<td class="bgblack fglightgrey">±</td>
				<td class="bgblack fglightgrey">Plc</td>
				<td class="bgblack fglightgrey">Player</td>
				<td class="bgblack fglightgrey">Pts</td>
				<td class="bgblack fglightgrey">Δ</td>
				<td class="bgblack padlr2"></td>
				<td class="bgblack fglightgrey">{% if latestepisode %}{{ latestepisode.short }}{% else %}Week{% endif %}</td>
				<td class="bgblack"></td>
				{% if latestepisode.is_locked %}
				<td class="bgblack outimg"><img src="{% static 'season31/images/icons/' %}CorrectVote.png" title="Correctly Predicted Vote" class="actionsmall" /></td>
				<td class="bgblack fglightgrey">Team Members</td>
				{% endif %}
			</tr>
			{% for spe in simpleplayerepisodes %}
			<tr>
				<td class="bgblack{% if spe.movement > 0 %} fggreen5{% elif spe.movement < 0 %} fgred5{% endif%}">{% if spe.movement > 0 %}+{% endif %}{{ spe.movement }}</td>
				<td>{{ spe.place }}</td>
				<td class="bgblack fgwhite"><a href="{% url 'season31:player' spe.playerid %}" class="fgwhite">{{ spe.playername }}</a></td>
				<td>{{ spe.total_score }}</td>
				<td class="bgblack fgdelta">{% if spe.score_delta < 0 %}{{ spe.score_delta }}{% endif %}</td>
				<td class="bgblack padlr2"></td>
				<td>{{ spe.week_score }}</td>
				<td class="bgblack"></td>
				{% if latestepisode.is_locked %}
				<td class="bgblack">
					{% if spe.vote_off_score > 0 %}
					<img src="{% static 'season31/images/icons/' %}CorrectVote.png" title="Correctly Predicted Vote" class="actionsmall" />
					{% endif %}
				</td>
				<td class="bgblack">
					{% for sp in spe.tpicks %}
					<div class="bg{{sp.color}} pick">
						<a href="{% url 'season31:castaway' sp.id %}">{{ sp.name }}</a>
					</div>
					{% endfor %}
				</td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
	</td>
	{% if user.is_superuser  %}
	<td class="bgadmin noborder texttop">

		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:addepisode' %}" method="post">
				{% csrf_token %}
				<div>
					<input type="number" name="teamsize" id="teamsize" min="2" max="10" value="{{ latestepisode.team_size }}" />
					<label for="teamsize">Team Size</label>
				</div>
				<input type="submit" class="width100" value="Add Episode" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:backfillteams' %}" method="post">
				{% csrf_token %}
				<input type="submit" class="width100" value="Backfill Teams" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:tallyalljsps' %}" method="post">
				{% csrf_token %}
				<input type="submit" class="width100" value="Tally All JSPs" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:updatescores' %}" method="post">
				{% csrf_token %}
				<input type="submit" class="width100" value="Recalculate All Scores" />
			</form>
		</div>
	</td>
	{% endif %}
	
</tr></table>