{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'season31/style.css' %}" />

<table class="marg0 pad0 noborder"><tr>

	<td class="menu noborder texttop">
		{% include "season31/menu.html" %}
	</td>
	<td class="content noborder texttop textleft">

		<div class="title">Fantasy Survivor</div>
		<div class="subtitle">Worlds Apart</div>
		<div class="spacer"></div>
		
		{% if error_message %}
		<div class="bgred4 pad2 textcenter">Error: {{ error_message }}</div>
		{% endif %}

		<form id="login_form" method="post" action="/season31/login/">
			{% csrf_token %}
			<table class="noborder">
				<tr>
					<td class="noborder">username: </td>
					<td class="noborder"><input type="text" name="username" value="" size="30"/></td>
				</tr>
				<tr>
					<td class="noborder">password: </td>
					<td class="noborder"><input type="password" name="password" value="" size="30"/></td>
				</tr>
			</table>
			<div class="halfspacer"></div>
			{{ profile_form.as_p }}
			<input type="submit" name="submit" value="Login" />
		</form>

		<div class="spacer"></div>
		<div class="spacer"></div>
		
		<div class="maxwidth720 textbold">
			Forgot your password?
		</div>
		<div class="maxwidth720 fgdarkgrey textjustify">
			Clay (503-351-0779) or Alex (509-391-5997) can reset it for you.  Just fill out your username below, then shoot one of us a text.  We have to do it manually, so it won't be right away.
		</div>
		<div class="pad8">
			<form action="{% url 'season31:forgotpassword' %}" method="post">
				{% csrf_token %}
				Username: <input type="username" name="username" value="" size="30"/>
				<input type="submit" value="I Forgot My Password!" />
			</form>
		</div>

	</td>
	
</tr></table>