<div class="pad0 marg0">
	{% if user.is_authenticated %}
	<div><a href="{% url 'season31:player' user.player.id %}" class="fgblack textbold">{{ user.username }}</a></div>
	<div><a href="{% url 'season31:logout' %}" class="fgblack">Logout</a></span></div>
	{% else %}
	<div>
		<span><a href="{% url 'season31:login' %}" class="fgblack">Login</a></span>
		|
		<span><a href="{% url 'season31:register' %}" class="fgblack">Register</a></span>
	</div>
	{% endif %}
	<div><a href="{% url 'season31:index' %}" class="fgblack">Home</a></div>
	{% if user.player %}
	<div><a href="{% url 'season31:episode' user.player.get_latest_episode.id %}" class="fgblack">Latest Episode</a></div>
	{% endif %}
</div>