{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'season31/style.css' %}" />

<div class="marg0 pad0 thecontainer">

<div class="content floatleft marg0">

<span class="title">Players</span>

<div class="spacer"></div>

<table>
	<tr>
		<td class="columnheader"></td>
		<td class="columnheader fgwhite">Full Name</td>
		<td class="columnheader fgwhite">League</td>
		<td class="columnheader fgwhite">Paid?</td>
	</tr>
	{% for player in players %}
	<tr>
		<td class="columnheader fgwhite textright padlr2"><a href="{% url 'season31:player' player.id %}" class="fgwhite">{{ player }}</a></td>
		<td class="padlr2">{{ player.user.get_full_name }}</td>
		<td class="padlr2">{{ player.league }}</td>
		{% if player.paid %}
		<td class="bggreen4">Y</td>
		{% else %}
		<td class="bgred4">N</td>
		{% endif %}
	</tr>
	{% endfor %}
</table>

</div>
<div class="menu floatleft marg0">
	{% include "season31/menu.html" %}
	{% include "season31/leaderboard.html" %}
</div>

</div>