{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'season31/style.css' %}" />

<div class="marg0 pad0 thecontainer">

<div class="menu floatleft marg0">
	{% include "season31/menu.html" %}
	{% include "season31/leaderboard.html" %}
</div>
<div class="content floatleft marg0">

<div class="title">{{ player.user.username }}</div>
<div class="subtitle">{{ player.user.get_full_name }}</div>

<div class="spacer"></div>

<table class="noborder">
	<tr>
		<td class="columnheader"></td>
		<td class="columnheader fgwhite">±</td>
		<td class="columnheader fgwhite">Plc</td>
		<td class="columnheader fgwhite">Score</td>
		<td class="columnheader"></td>
		<td class="columnheader fgwhite">Team</td>
		<td class="columnheader"></td>
		<td class="columnheader fgwhite">Vote Off</td>
		<td class="columnheader"></td>
		<td class="columnheader fgwhite">LB</td>
		<td class="columnheader"></td>
		<td class="columnheader fgwhite">Action</td>
		<td class="columnheader fgwhite">Vote Off</td>
		<td class="columnheader fgwhite">JSP</td>
		<td class="columnheader"></td>
		<td class="columnheader fgwhite">Week</td>
		<td class="columnheader"></td>
	</tr>
	{% for playerepisode in player.playerepisode_set.all %}
	{% if playerepisode.episode.check_lock %}
	{% endif %}
	{% if not playerepisode.episode.is_locked and player == user.player and playerepisode.episode = player.get_next_episode %}
	<tr>
		<td class="noborder padtb4" colspan=17></td>
	</tr>
	<tr>
		<td class="noborder textleft" colspan=17>{{ playerepisode.episode.time_to_lock }} left to make your picks</td>
	</tr>
	<tr>
		<td class="bgblack padtb4" colspan=17></td>
	</tr>
	{% endif %}
	{% if playerepisode.episode.is_locked or player == user.player%}
	<tr>
		<td class="columnheader texttop"><a href="{% url 'season31:episode' playerepisode.episode.id %}" class="fgwhite">{{ playerepisode.episode }}</a></td>
		<td>{{ playerepisode.movement }}</td>
		<td>{{ playerepisode.place }}</td>
		<td>{{ playerepisode.total_score }}</td>
		<td class="columnheader"></td>

		<td class="pad0 marg0">
			{% for pick in playerepisode.get_team_picks %}
			<div class="bgtribe{{ pick.castaway_episode.tribe.color }} floatleft pad2 marg0 pickwidth">
				<a href="{% url 'season31:castaway' pick.castaway_episode.castaway.id %}" class="fgblack pad0 marg0 ">{{ pick.castaway_episode.castaway.name }}
				</a>
			</div>
			{% endfor %}
		</td>

		<td class="columnheader"></td>

		<td class="pad0 marg0">
			{% for pick in playerepisode.get_vote_picks %}
			<div class="bgtribe{{ pick.castaway_episode.tribe.color }} floatleft pad2 marg0 pickwidth">
				<a href="{% url 'season31:castaway' pick.castaway_episode.castaway.id %}" class="fgblack pad0 marg0 ">{{ pick.castaway_episode.castaway.name }}
				</a>
			</div>
			{% endfor %}
		</td>

		<td class="columnheader fgwhite"></td>
		<td>{{ playerepisode.loyalty_bonus }}</td>
		<td class="columnheader fgwhite"></td>
		<td>{{ playerepisode.action_score }}</td>
		<td>{{ playerepisode.vote_off_score }}</td>
		<td>{{ playerepisode.jsp_score }}</td>
		<td class="columnheader fgwhite"></td>
		<td>{{ playerepisode.week_score }}</td>
		<td class="columnheader fgwhite"></td>
	</tr>
	{% else %}
	<tr>
		<td class="columnheader texttop"><a href="{% url 'season31:episode' playerepisode.episode.id %}" class="fgwhite">{{ playerepisode.episode }}</a></td>
		<td class="textleft" colspan=15>Picks will be revealed in {{ playerepisode.episode.time_to_lock }}</td>
		<td class="columnheader fgwhite"></td>
	</tr>
	{% endif %}
	{% endfor %}
	{% if user.player == player and not player.playerepisode_set.latest.episode.is_locked %}
	<!--
	<tr>
		<td class="bgwhite noborder"></td>
	</tr>
	-->
	<tr>
		<td class="bgblack" colspan=4></td>
		<td class="columnheader"></td>

		<td class="columnheader fgwhite pad0 marg0">
			{% if player.get_latest_player_episode == player.playerepisode_set.latest%}
			<form action="{% url 'season31:pickteams' player.playerepisode_set.latest.id %}" method="post">
				{% csrf_token %}
				<div class="bgtribe{{ castawayepisode.tribe.color }} pad2 marg0">
					{% if player.playerepisode_set.latest.get_team_picks %}
					Change Team:
					{% else %}
					Pick Team:
					{% endif %}
				</div>
				{% for castawayepisode in player.playerepisode_set.latest.get_pick_options %}
				<div class="bgtribe{{ castawayepisode.tribe.color }} pad0 marg0">
					<input type="checkbox" name="picks" id="{{ castawayepisode.id }}" value="{{ castawayepisode.castaway.name }}" />
					<label for="{{ castawayepisode.id }}">{{ castawayepisode.castaway }}</label>
				</div>
				{% endfor %}
				<div>
					<input type="submit" value="Update Team" />
				</div>
			</form>
			{% if team_error_message %}
			<div class="bgred4">{{ team_error_message }}</div>
			{% endif %}
			{% endif %}
		</td>

		<td class="columnheader fgwhite"></td>

		<td class="columnheader fgwhite pad0 marg0">
			{% if player.get_latest_player_episode == player.playerepisode_set.latest%}
			<form action="{% url 'season31:pickvotes' player.playerepisode_set.latest.id %}" method="post">
				{% csrf_token %}
				<div class="bgtribe{{ castawayepisode.tribe.color }} pad2 marg0">
					{% if player.playerepisode_set.latest.get_vote_picks %}
					Change Votes:
					{% else %}
					Pick Votes:
					{% endif %}
				</div>
				{% for castawayepisode in player.playerepisode_set.latest.get_pick_options %}
				<div class="bgtribe{{ castawayepisode.tribe.color }} pad0 marg0">
					<input type="checkbox" name="picks" id="{{ castawayepisode.id }}" value="{{ castawayepisode.castaway.name }}" />
					<label for="{{ castawayepisode.id }}">{{ castawayepisode.castaway }}</label>
				</div>
				{% endfor %}
				<div>
					<input type="submit" value="Update Votes" />
				</div>
			</form>
			{% if vote_error_message %}
			<div class="bgred4">{{ vote_error_message }}</div>
			{% endif %}
			{% endif %}
		</td>

		<td class="columnheader"></td>
		<td class="bgblack" colspan=8></td>
	</tr>
	{% endif %}
</table>

</div>

</div>