{% load staticfiles %}

<script src="{% static 'season31/helper.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'season31/style.css' %}" />

<table class="noborder"><tr>

	<td class="menu noborder texttop">
		{% include "season31/menu.html" %}
	</td>
	<td class="content noborder texttop textleft">

		<span class="title">{{ player.user.username }}</span>
		<span class="font20">{{ player.user.get_full_name }}</span>
		{% if player == user.player or user.is_superuser%}
			<span>( {{ player.user.email }} )</span>
		{% endif %}

		{% if expired_error_message %}
		<div class="bgred4 pad2 textcenter">Error: {{ expired_error_message }}</div>
		{% endif %}

		{% if player == user.player%}
		<div class="pad4">
			<div class="inline bgdarkgrey fgwhite pad4">Settings</div>

			<div class="inline bggrey pad4">
				<form action="{% url 'season31:togglehelptext' player.id %}" method="post">
					{% csrf_token %}
					<input class="padtb0 padlr4" type="submit" value="{% if player.show_help_text %}Hide Help Text{% else %}Show Help Text{% endif %}" />
				</form>
			</div>
			
			<div class="inline bggrey fgwhite pad4">
				<form action="{% url 'season31:resetpassword' player.id %}" method="post">
					{% csrf_token %}
					Change Password? <input type="text" name="password" value="" size="30"/>
					<input type="submit" value="Change Password" />
				</form>
			</div>
			
			{% if reset_password_error_message %}
			<div class="inline bgred4 pad4">
				{{ reset_password_error_message }}
			</div>
			{% endif %}
		</div>
		{% endif %}

		<div class="halfspacer"></div>
		
		{% if futureplayerepisodes and player == user.player and player.show_help_text %}
			<div class="pad4 textright">
				Mouseover column headers for their full names.
			</div>
		{% endif %}
		<!-- PAST -->
		<div class="bgdarkgrey rounded pad2">
			<div class="textleft fglightgrey font24 pad4 rounded marg1">Past Episodes</div>
			<table class="textcenter">
				<tr>
					<td class="bgblack padlr2"></td>
					<td class="bgblack padlr2 fggreen4">Team Members</td>
					<td class="bgblack padlr2 fgred4">Vote Off Picks</td>
					<td class="bgblack padlr2 fglightgrey" title="Loyalty Bonus Points">LB</td>
					<td class="bgblack padlr2 fggreen4" title="Team Action Points">TA</td>
					<td class="bgblack padlr2 fgred4" title="Vote-Off Prediction Points">VO</td>
					<td class="bgblack padlr2 fglightgrey" title="Jury Survivor Points"><a href="{% url 'season31:playerjsps' player.id %}" class="fgwhite">JSP</a></td>
					<td class="bgblack padlr2 fglightgrey textbold" title="This Week's Score">Week</td>
					<td class="bgblack padlr2 fglightgrey textbold" title="Total Score">Total</td>
					<td class="bgblack padlr2 fglightgrey" title="Leaderboard Position">Place</td>
					<td class="bgblack padlr2 fglightgrey" title="Leaderboard Movement Since Previous Week">±</td>
				</tr>
				{% for playerepisode in pastplayerepisodes %}
				<tr>
					<td class="bgblack padlr4"><a href="{% url 'season31:episode' playerepisode.episode.id %}" class="fgwhite">{{ playerepisode.episode }}</a></td>
					<td class="bgblack padlr4">
						<table class="tablecenter noborder"><tr>
							{% for pick in playerepisode.get_team_picks %}
							<td class="noborder padlr8 padtb2 marg0 {% if pick.out_this_episode %}bgout{% else %}bg{{ pick.castaway_episode.tribe.color }}{% endif %}">
								<a href="{% url 'season31:castaway' pick.castaway.id %}">{{ pick.castaway.name }}</a>
							</td>
							{% endfor %}
						</tr></table>
					</td>
					<td class="bgblack padlr4">
						<table class="tablecenter noborder"><tr>
							{% for pick in playerepisode.get_vote_picks %}
							<td class="noborder padlr8 padtb2 marg0 {% if pick.out_this_episode %}bgout{% else %}bg{{ pick.castaway_episode.tribe.color }}{% endif %}">
								<a href="{% url 'season31:castaway' pick.castaway.id %}" class="fgblack ">{{ pick.castaway.name }}</a>
							</td>
							{% endfor %}
						</tr></table>
					</td>
					<td class="bglightgrey">{{ playerepisode.loyalty_bonus }}</td>
					<td class="bglightgrey">{{ playerepisode.action_score }}</td>
					<td class="bglightgrey">{{ playerepisode.vote_off_score }}</td>
					<td class="bglightgrey">{{ playerepisode.jsp_score }}</td>
					<td class="bgwhite padlr4 textbold">{{ playerepisode.week_score }}</td>
					<td class="bgwhite padlr4 textbold">{{ playerepisode.total_score }}</td>
					<td class="bgwhite">{{ playerepisode.place }}</td>
					<td class="bgblack {% if playerepisode.movement > 0 %} fggreen5{% elif playerepisode.movement < 0 %} fgred5{% endif%}">{{ playerepisode.movement }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		
		<div class="halfspacer"></div>
		{% if futureplayerepisodes and player == user.player and player.show_help_text %}
			<div class="pad4">
				Below are your picks for the next episode.  Your<span class="textbold">Team</span>is on the left and your<span class="textbold">Vote Off Predictions</span>are on the right.<br>You have until<span class="textbold">8:00 PM EST / 5:00 PST</span>to make your picks each week.<br>This form will automatically lock if you refresh after that.
			</div>
		{% endif %}
		
		<!-- FUTURE -->
		<div class="bgdarkgrey rounded pad2">
			{% for playerepisode in futureplayerepisodes %}
				<div class="textleft fglightgrey pad4 rounded marg1">
					<div class="inline font24">Upcoming Episode</div>
					<div class="inline padlr8 bgred2 marg0 font20 rounded">{{ playerepisode.episode.time_to_lock }}<script>startTimer("{{ playerepisode.episode.seconds_to_lock }}");</script></div>
				</div>
				{% if player == user.player %}
					<table class="textcenter">
						<tr>
							<td class="bgblack padlr2"></td>
							<td class="bgblack padlr2 fggreen4">Team Members</td>
							<td class="bgblack padlr2 fgred4">Vote Off Picks</td>
							<td class="bgblack padlr2 fglightgrey" title="Loyalty Bonus Points">LB</td>
						</tr>
						<tr>
							<td class="bgblack padlr4"><a href="{% url 'season31:episode' playerepisode.episode.id %}" class="fgwhite">{{ playerepisode.episode }}</a></td>
							<td class="bgblack padlr4">
								{% if not playerepisode.get_team_picks %}
									<form action="{% url 'season31:playerrolloverteam' player.playerepisode_set.latest.id %}" method="post">
										{% csrf_token %}
										<div class="padtb2 padlr0">
											<input type="submit" value="No Current Team.  Rollover Last Week's Picks?" class="width100" />
										</div>
									</form>
								{% endif %}
								<table class="tablecenter noborder"><tr>
									{% for pick in playerepisode.get_team_picks %}
									<td class="noborder padlr8 padtb2 marg0 {% if pick.out_this_episode %}bgout{% else %}bg{{ pick.castaway_episode.tribe.color }}{% endif %}">
										<a href="{% url 'season31:castaway' pick.castaway.id %}">{{ pick.castaway.name }}</a>
									</td>
									{% endfor %}
								</tr></table>
							</td>
							<td class="bgblack padlr4">
								{% if not playerepisode.get_vote_picks %}
									<form action="{% url 'season31:playerrolloverteam' player.playerepisode_set.latest.id %}" method="post">
										{% csrf_token %}
										<div class="padtb2 padlr0">
											<input type="submit" value="None. Rollover?" class="width100" />
										</div>
									</form>
								{% endif %}
								<table class="tablecenter noborder"><tr>
									{% for pick in playerepisode.get_vote_picks %}
									<td class="noborder padlr8 padtb2 marg0 {% if pick.out_this_episode %}bgout{% else %}bg{{ pick.castaway_episode.tribe.color }}{% endif %}">
										<a href="{% url 'season31:castaway' pick.castaway.id %}" class="fgblack ">{{ pick.castaway.name }}</a>
									</td>
									{% endfor %}
								</tr></table>
							</td>
							<td class="bglightgrey">{{ playerepisode.loyalty_bonus }}</td>
						</tr>
						{% if not player.playerepisode_set.latest.episode.is_locked %}
							<tr>
								<td class="bgblack padlr4"></td>
								<td class="bgblack padlr4">
									{% if player.get_latest_player_episode == player.playerepisode_set.latest %}
										<form action="{% url 'season31:pickteams' player.playerepisode_set.latest.id %}" method="post">
											{% csrf_token %}
											<div class="fggreen4">
												Pick Your Team! ({{ player.get_next_episode.team_size }} Castaways)
											</div>
											{% for castawayepisode in player.playerepisode_set.latest.get_pick_options %}
												<div class="textleft padtb0 padlr8 bg{{ castawayepisode.tribe.color }}">
													<input type="checkbox" name="picks" id="{{ castawayepisode.castaway.id }}" value="{{ castawayepisode.castaway.name }}" />
													<label for="{{ castawayepisode.castaway.id }}">{{ castawayepisode.castaway }}</label>
												</div>
											{% endfor %}
											<div class="padtb2 padlr0">
												<input type="submit" value="Update Team" class="width100" />
											</div>
										</form>
										{% if team_error_message %}
											<div class="bgred4">{{ team_error_message }}</div>
										{% endif %}
									{% endif %}
								</td>
								<td class="bgblack padlr4">
									{% if player.get_latest_player_episode == player.playerepisode_set.latest %}
										<form action="{% url 'season31:pickvotes' player.playerepisode_set.latest.id %}" method="post">
											{% csrf_token %}
											<div class="fgred4">
												Pick Your Votes! (2)
											</div>
											{% for castawayepisode in player.playerepisode_set.latest.get_pick_options %}
												<div class="textleft padtb0 padlr8 bg{{ castawayepisode.tribe.color }}">
													<input type="checkbox" name="picks" id="{{ castawayepisode.castaway.id }}" value="{{ castawayepisode.castaway.name }}" />
													<label for="{{ castawayepisode.castaway.id }}">{{ castawayepisode.castaway }}</label>
												</div>
											{% endfor %}
											<div class="padtb2 padlr0">
												<input type="submit" value="Update Votes" class="width100" />
											</div>
										</form>
										{% if vote_error_message %}
											<div class="bgred4">{{ vote_error_message }}</div>
										{% endif %}
									{% endif %}
								</td>
								<td class="bgblack padlr4"></td>
							</tr>
						{% endif %}
					</table>
				{% else %}
				<div class="bgblack fglightgrey pad4">
					<a href="{% url 'season31:episode' playerepisode.episode.id %}" class="fgwhite">{{ playerepisode.episode }}</a> Picks will be revealed in <span>{{ playerepisode.episode.time_to_lock }}<script>startTimer("{{ playerepisode.episode.seconds_to_lock }}");</script></span>
				</div>
				{% endif %}
			{% endfor %}
		</div>

	</td>
	{% if user.is_superuser  %}
	<td class="bgadmin noborder texttop">
		<div class="{% if player.paid %}bggreen4{% else %}bgred4{% endif %} pad4 marg4">
			<form action="{% url 'season31:toggleplayerpaidstatus' player.id %}" method="post">
				{% csrf_token %}
				{% if player.paid %}Paid!{% else %}Indebted!{% endif %}
				<input type="checkbox" name="check" id="check"/>
				<input type="submit" value="Toggle Paid Status" />
			</form>
		</div>
		<div class="bgwhite pad4 marg4">
			<form action="{% url 'season31:playerrolloverteam' player.playerepisode_set.latest.id %}" method="post">
				{% csrf_token %}
				<div class="padtb2 padlr0">
					<input type="submit" value="Rollover Last Week's Picks" class="width100" />
				</div>
			</form>
		</div>
		{% if player.forgot_password %}
		<div class="bgred4 pad4 marg4 maxadminwidth textjustify">
			Player forgot their password.  Set a new one for them and then tell them what it is.
			<div class="padtb1"></div>
			<div class="textbold textcenter">New Password:</div>
			<form action="{% url 'season31:resetpassword' player.id %}" method="post">
				{% csrf_token %}
				<input type="text" class="width100" name="password" value="" size="30"/>
				<div class="padtb1"></div>
				<input type="submit" class="width100" value="Reset Password" />
			</form>
		</div>
		{% endif %}
	</td>
	{% endif %}
	
</tr></table>