{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'season31/style.css' %}" />

<table class="noborder"><tr>

	<td class="menu noborder texttop">
		{% include "season31/menu.html" %}
	</td>
	<td class="content noborder texttop textleft">

		<span class="title">Players</span>

		<div class="spacer"></div>

		<table class="noborder">
			<tr>
			{% for player in players %}
			{% if not forloop.counter|divisibleby:2 %}
			</tr>
			<tr>
			{% endif %}
			<td class="padlr4 bgblack textright {% if player.paid %}borderpaid{% else %}borderunpaid{% endif %}">
			<a href="{% url 'season31:player' player.id %}" class="fgwhite">{{ player }}</a>
			</td>
			<!-- if superuser -->
				<td class="padlr4 noborder textleft{% if player.forgot_password and user.is_superuser %} bgred4{% endif %}">{{ player.get_full_name }}</td>
			<!-- endif superuser -->
			{% endfor %}
			</tr>
		</table>

	</td>
	
</tr></table>