{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'season31/style.css' %}" />

<table class="marg0 pad0 noborder"><tr>

	<td class="menu noborder texttop">
		{% include "season31/menu.html" %}
	</td>
	<td class="content noborder texttop textleft">

		<div class="title">Fantasy Survivor</div>
		<div class="subtitle">Worlds Apart</div>
		<div class="spacer"></div>

		<div class="subtitle">Registration Page</div>

		{% if registered %}
		<div class="title">You're already registered!</div>
		{% else %}
		<form id="user_form" method="post" action="/season31/register/" enctype="multipart/form-data">
			{% csrf_token %}
			{{ user_form.as_p }}
			{{ profile_form.as_p }}
			<input type="submit" name="submit" value="Register" />
		</form>
		{% endif %}
		
	</td>
	
</tr></table>