{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'season31/style.css' %}" />

<table class="marg0 pad0 noborder"><tr>

	<td class="menu noborder texttop">
		{% include "season31/menu.html" %}
	</td>
	<td class="content noborder texttop textleft">

		<div class="title textcenter">Rules</div>
		<div class="subtitle textcenter">How to play Fantasy Survivor</div>

		<div class="spacer"></div>

		<div class="halftitle textcenter">Overview</div>
		<div class="maxwidth720 padlr8 marg8 textjustify">
			Fantasy Survivor is made up of 3 systems: Team Actions, Jury Survivor Points, and Vote-Off Predictions.
		</div>
		<div class="maxwidth720 padlr8 marg8 textjustify">
			Each week you'll pick a team of Castaways. Your team's actions during an episode will score you points. By picking them you're also putting long term confidence in them, and starting halfway through the season the ones who survive week to week will pay off in Jury Survivor Points. You'll also pick 2 Castaways you think are going home. You score points if they're voted out.
		</div>
		<div class="spacer"></div>

		<div class="halftitle textcenter">Your Team</div>
		<div class="textitalic textcenter">Aggregate score of your weekly chosen Castaways</div>
		<div class="maxwidth720 padlr8 marg8 textjustify">
			You'll pick your whole team each week. We start with 7 Castaways and will drop to fewer as the season goes on and the field narrows. These people will score points for you based on <a href="{% url 'season31:actions' %}" class="textbold fgblack">these Actions</a>.  Get familiar with those <a href="{% url 'season31:actions' %}" class="textbold fgblack">Actions</a> so you can pick the best team possible.
		</div>
		<div class="maxwidth720 padlr8 marg8 textjustify">
			Additionally, each team member you keep from one week to the next will score you a<span class="textbold">Loyalty Bonus (LB)</span>point. Sometimes if you're not sure who to pick, these little points can be helpful, but don't let them sway you too much, since each pick also influences your JSPs.
		</div>
		<div class="maxwidth720 padlr8 marg8 textjustify">
			Team sizes will also shrink to accommodate a shrinking cast as the season goes on.  Here's the guide for when that happens:
		</div>
		<table class="tablecenter">
			<tr>
				<td class="bgblack fgwhite padlr4">Castaways Left:</td>
				<td class="bglightgrey padlr4">20</td>
				<td class="bglightgrey padlr4">19</td>
				<td class="bglightgrey padlr4">18</td>
				<td class="bglightgrey padlr4">17</td>
				<td class="bglightgrey padlr4">16</td>
				<td class="bglightgrey padlr4">15</td>
				<td class="bglightgrey padlr4">14</td>
				<td class="bglightgrey padlr4">13</td>
				<td class="bglightgrey padlr4">12</td>
				<td class="bglightgrey padlr4">11</td>
				<td class="bglightgrey padlr4">10</td>
				<td class="bglightgrey padlr4">9</td>
				<td class="bglightgrey padlr4">8</td>
				<td class="bglightgrey padlr4">7</td>
				<td class="bglightgrey padlr4">6</td>
				<td class="bglightgrey padlr4">5</td>
			</tr>
			<tr>
				<td class="bgdarkgrey fgwhite padlr4">Your Team Size:</td>
				<td>7</td>
				<td>7</td>
				<td>6</td>
				<td>6</td>
				<td>6</td>
				<td>5</td>
				<td>5</td>
				<td>5</td>
				<td>4</td>
				<td>4</td>
				<td>4</td>
				<td>4</td>
				<td>3</td>
				<td>3</td>
				<td>3</td>
				<td>2</td>
			</tr>
		</table>
		<div class="spacer"></div>

		<div class="halftitle textcenter">Jury Survivor Points (JSPs)</div>
		<div class="textitalic textcenter">1 point for each time you picked a Castaway (ever), scored</div>
		<div class="textitalic textcenter">after each tribal for surviving castaways, jury members only</div>
		<div class="maxwidth720 padlr8 marg8 textjustify">
			Each week with your team picks, you're also putting confidence in those people. We'll keep track of each time you picked a Castaway and you'll score points every week for jury members once they start selecting the Jury (usually just after merge). The winning Castaway will also score double at final tribal council.
		</div>
		<div class="maxwidth720 padlr8 marg8 textjustify">
			<span class="textbold padlr0">Example:</span> Let's say last season you put Hali, Jenn, Joe, and Mike on your team every week for the first 5 weeks, then decide you don't want any of them anymore. You'd score 20 points (5 for each of them) because they all made it to the jury. Hali gets voted out and becomes the first Jury member (she doesn't score anymore), the others score you 5 points each for surviving tribal council. Now let's say you pick Joe back up (6 times picked now). Jenn gets voted out next, Joe (6 points this time) and Mike (5) score for surviving. Joe is out next, and Mike wins it all (surviving 10 tribal councils). So in the end you'd have scored the following for these Castaways: Hali (5), Jenn (10), Joe (16), Mike (55).
		</div>
		<div class="maxwidth720 padlr8 marg8 fgdarkred textjustify">	
			<span class="textbold padlr0">Note:</span> You don't have to have someone on your team to score points for them here, all that matters is how many times you<span class="textbold">ever</span>put them on your team.
		</div>
		<div class="spacer"></div>

		<div class="halftitle textcenter">Vote-Off Predictions</div>
		<div class="textitalic textcenter">10 points per correct prediction</div>
		<div class="maxwidth720 padlr8 marg8 textjustify">
			This is the simplest of our 3 systems. Each week you'll pick 2 people you think are going home.Most of the time this is by being voted out at tribal council, but predicting someone will quit, or get evacuated, etc also gets you these points
		</div>
		<div class="spacer"></div>

	</td>
	
</tr></table>